<div class="bg_new">
<div class="container center mt-5">

<div class="col-md-6 mx-auto">
<h2>When do you want it?</h2>
<%= simple_form_for [@tool, @booking], html: { class: 'form' } do |form| %>
<div class="form-inputs">
<div data-controller="datepicker">
      <div class="form-group-booking space-booking" style="text-align: left;">
        <%= form.input :starting_date,
            as: :string,
            input_html: { data: { datepicker_target: "startingDate" } } %>

      </div>

      <div class="form-group-booking space-booking" style="text-align: left;">

        <%= form.input :ending_date,
            as: :string,
            input_html: { data: { datepicker_target: "endingDate" } } %>

      </div>

</div>

      <div id="btn" class="form-group" style="text-align: center;">
        <%= form.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
