<div class="banner">
  <div class="banner-text">
    <h1><strong>Welcome to ToolBnB</strong></h1>
    <p>Find the perfect tool for your needs!</p>
  </div>
  <%= link_to "Browse tools", tools_path, class:"btn41-43 btn-43"%>
</div>
<div class="container mt-5">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Tool Name</h5>
      <p class="card-text">This is a description of the tool.</p>
      <a href="#" class="btn btn-primary">Go to Tool Page</a>
    </div>
  </div>
</div>
<div id="about-us" class="container">

  <h2>About Us</h2>
  <p>Welcome to Toolbnb, your go-to destination for all your tool rental needs.
  Just like finding the perfect accommodation on Airbnb, we're here to make the process
  of renting tools simple, convenient, and efficient.
  </p>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
