.banner {
  background-image: url('smiling-man-painting');
  background-size: cover;
  background-position: center;
  padding: 30px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  height: 600px;
}

.banner-text {
  margin-bottom: 0.5em;
  color: #fff;
  padding: 30px;
}
